<!--partials/dropDown-->
<nav class="dropDownNav">
    <!--Adding Hamburger Icon instead of search bar and others for Mobiles -->
    <div class="search-group">
        <input type='search' class='search-bar' placeholder="Search for a course..."
            onkeyup="searchCourses(this.value)">
        <div class="result-group">
        </div>
    </div>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</nav>