<!--partials/footer.ejs-->
<footer class='footer'>
    <!--Footer that contains information of KFUPM and Copyrights-->
    <div class='contact-info'>
        <h4 class='contacting'>Contact us:</h4>
        <p>013-860-0000</p>
        <p>info@kfupm.edu.sa</p>
        <p>KFUPM</p>
        <p>Dahran</p>
        <p>Kingdom of Saudi Arabia</p>
    </div>

    <div class='links'>
        <p><a href="http://www.kfupm.edu.sa" target="_blank" onmouseover="changeColorL(this)"
                onmouseout="changeColorL(this)">kfupm.com</a></p>
        <a href="https://www.facebook.com/KFUPM/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/kfupm?lang=en" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/kfupm/?hl=en" target="_blank" class="fa fa-instagram"></a>
    </div>

    <div class='cr'>
        <p>Copyrights © KFUPM 2020</p>
        <p><a href='http://www.kfupm.edu.sa/pages/PrivacyPolicy.aspx' target="_blank">Privacy Policies</a> | <a
                href='https://goo.gl/maps/MxbJcTLBKhETeAPd6' target="_blank">KFUPM Map</a></p>
    </div>
</footer>