<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="KFUPM Curriculum is the website to see information about courses and majors offered by King Fahd University of Petroleum and Minerals">
    <meta name="keywords"
        content="KFUPM, flowchart, courses, curriculum, Math101, Phys101, Chem101, math kfupm, physics 101 kfupm, math 101 kfupm, chem 101 kfupm, EE kfupm, ME kfupm">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login | KFUPM Curriculum</title>
    <link rel="icon" href="/logo.png">

</head>

<body>
    <%- include('partials/header') %>

    <nav class="dropDownNav">
        <!--Adding Hamburger Icon instead of search bar and others for Mobiles -->
        <div class="search-group">
            <input type='search' class='search-bar' placeholder="Search for a course..."
                onkeyup="searchCourses(this.value)">
            <div id="result-group">
            </div>
        </div>
        <a href="/about.html">About</a>
        <a href="/help.html">Help</a>

    </nav>


    <div class='content'>
        <!--Main page with title, Logo, & Help paragraph-->
        <section class="landing">
            <div class='wide-logo'>
            </div>

            <h2 class="admin-login-h2">
                Admin Login
            </h2>
            <form action="/admin/login" class="messagel" id="message1" method="post">
                <label class="messageingl">
                    Username:
                    <br>
                    <input required='req1' type="text" name="username" size="60" naxlength="255" class="textarea"
                        autofocus required>
                </label>
                <br>
                <label class="messageingl">
                    Password:
                    <br>
                    <input required='req1' type="password" name="password" size="60" class="textarea" required>
                </label>
                <br>
                <% if (!result) { %>
                <p style="color: red">
                    Incorrect username or password
                </p>
                <% } %>

                <input class="sbmt-for-surveyl" id="sbmt-for-surl" type=submit value="Login">
                <br>
            </form>
    </div>
    </div>
    </section>
    </div>

    <%- include('partials/footer') %>

    <script src="/index.js"></script>

</body>

</html>