<div class="square-card">
    <div class="text-container">
        <h4 id="c1"><b>College of Science</b></h4>
        <div id="ca">
            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                <a href='major.html'>Chemistry</a></p>
            <!-- <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                Life Science</p>
            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                Math</p>
            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                Physics</p>
            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                Statistics</p> -->
        </div>
    </div>
</div>