<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="KFUPM Curriculum is the website to see information about courses and majors offered by King Fahd University of Petroleum and Minerals">
    <meta name="keywords"
        content="KFUPM, flowchart, courses, curriculum, Math101, Phys101, Chem101, math kfupm, physics 101 kfupm, math 101 kfupm, chem 101 kfupm, EE kfupm, ME kfupm">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>About | KFUPM Curriculum</title>
    <link rel="icon" href="/logo.png">

</head>

<body class="admin">
    <%- include('partials/header') %>

    <%- include('partials/dropDown') %>

    <div class='content'>
        <!--Main page with title, Logo, & About paragraph-->
        <section class="landing">
            <div class='wide-logo'>
            </div>
            <header>
                <h1>About<br>KFUPM Curriculum System</h1>

                <p class="p-for-ha">
                    KFUPM Curriculum System is a system that helps KFUPM Students to look for courses, description of
                    courses, outcomes, pre-requisties, syllabus ... etc. This system has collected Information from
                    reliable sources such as KFUPM web site. The system was developed by Group 10 (Khaled Araj & Fawaz
                    Alesayi) Under supervising by Prof. El-Sayed El-Alfy in Software 363 Term 193 Project.
                </p>
            </header>

        </section>

        <img src="BG.png" alt="Logo" class="ah-image">
    </div>

    <%- include('partials/footer') %>

    <script src="/index.js"></script>
    <script src="/login.js"></script>

</body>

</html>